.login-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.login-nav {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 1rem 0;
  height: 6rem;
  display: flex;
  align-items: center;
}

.login-main-content {
  display: flex;
  height: calc(100% - 10rem);
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  z-index: 200;
}

.login-container {
  min-height: calc(100vh - 15rem);
  align-self: flex-start;
  display: flex;
  align-items: center;
  z-index: 100;
  gap: 1rem;
  width: 35rem;
}

h1 {
  font-weight: 700;
}

.info {
  display: flex;
  flex-direction: column;
}

.main-img-container {
  position: relative;
  z-index: 10;
  align-self: flex-end;
}

.main-img {
  width: 100%;
}

.login-btn {
  display: flex;
  height: 2.8rem;
  width: 15rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  margin-top: 2rem;
}
span {
  margin-left: 0.9rem;
  font-size: 1rem;
}
