.main-section {
  background-color: var(--backgroundColor);
  min-height: 100vh;
  position: relative;
  left: 17rem;
  width: calc(100% - 17rem);
}
.main-section .top {
  position: fixed;
  width: calc(100% - 17rem);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.8rem;
}

.top .sidebar-toggle {
  font-size: 1.8rem;
  color: var(--text-color);
  cursor: pointer;
}

.main-section .top .searchbox {
  position: relative;
  height: 3rem;
  max-width: 600px;
  width: 100%;
  margin: 0 2.2rem;
}

.top .searchbox input {
  height: 100%;
  font-size: 1.3rem;
  color: var(--grey-400);
  width: 100%;
  position: absolute;
  border-radius: var(--border-radius);
  border: 1px solid var(--grey-200);
  outline: var(--grey-900);
  padding: 0 25px 0 50px;
}

.top .search-icon {
  position: absolute;
  margin-left: 0.4rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  color: var(--grey-400);
  font-size: 1.7rem;
}

.top .user-info {
  display: flex;
  flex-direction: row;
  height: 3rem;
  max-width: 12rem;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.user-info img {
  border-radius: 50%;
  outline: var(--grey-900);
  max-width: 3rem;
}
